{% extends 'base.html' %}
{% block pageTitle %}LoW - Character Ranking{% endblock %}
{% block charTab %}checked{% endblock %}
{% block charContent %}
Character Name: <input id="charName" name="CharacterNameField" />
Server Name: <input id="charName" name="CharacterNameField" />
Region: <select class="dropdown" style="font-size: 14px; margin-right:2em;">
    <option>US</option>
    <option>EU</option>
    <option>KR</option>
    <option>TW</option>
    <option>CN</option>
</select>
{% endblock %}