{% extends 'base.html' %}
{% block pageTitle %}LoW - Character Ranking{% endblock %}
{% block charTab %}checked{% endblock %}
{% block charContent %}
<form action="/char_rank/">
    Character Name: <input type="text" id="charName" name="nameField" />
    Server Name: <input type="text" id="serverName" name="serverField" />
    Region: <select class="dropdown" id="region" name="Region" style="font-size: 14px; margin-right:2em;">
        <option>US</option>
        <option>EU</option>
        <option>KR</option>
        <option>TW</option>
        <option>CN</option>
    </select>
    <button id="go" name="charRankGo" type="submit">Go</button>
</form>
<table style="display: {{ display }}">
    <tr>
        <td>
            Some data will go here...
        </td>
        <td>
            Some more data will go here...
        </td>
    </tr>
</table>
{% endblock %}