<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<link rel=stylesheet type=text/css href="D:\home\site\wwwroot\WarcraftLogsPython\base.css"> -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='base.css') }}">
    <meta charset="utf-8" />
    <title>Warcraft Logs API Requests</title>
</head>
<body bgcolor="#545B5A">
    <div class="tabbed">

        <!-- Home -->

        <input name="tabbed" id="home" type="radio" checked />
        <section>
            <h1>
                <label for="home">Home</label>
            </h1>
            <div>
                This will be the Home Page :D
            </div>
        </section>

        <!-- Report Results -->

        <input name="tabbed" id="reportRequest" type="radio" />
        <section>
            <h1>
                <label for="reportRequest">Report Results</label>
            </h1>
            <div>
                Request ID: <input id="reportID" name="ReportIDField" />
            </div>
        </section>

        <!-- Fight Results -->

        <input name="tabbed" id="fightResults" type="radio" />
        <section>
            <h1>
                <label for="fightResults">Fight Results</label>
            </h1>
            <div>
                <select class="dropdown">
                    <option>Legion</option>
                    <option>Warlords of Draenor</option>
                    <option>Mists of Pandara</option>
                </select>
                Request ID: <input id="reportID" name="ReportIDField" value="(optional)" />
            </div>
        </section>

        <!-- Character Rankings -->

        <input name="tabbed" id="characterRankings" type="radio" />
        <section>
            <h1>
                <label for="characterRankings">Character Rankings</label>
            </h1>
            <div class="input">
                Character Name: <input id="charName" name="CharacterNameField" />
                Server Name: <input id="charName" name="CharacterNameField" />
                Region: <select class="dropdown" style="font-size: 14px;">
                    <option>US</option>
                    <option>EU</option>
                    <option>KR</option>
                    <option>TW</option>
                    <option>CN</option>
                </select>
            </div>
        </section>
    </div>
</body>
</html>
