<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<link rel=stylesheet type=text/css href="D:\home\site\wwwroot\WarcraftLogsPython\base.css"> -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='base.css') }}">
    <meta charset="utf-8" />
    <title>Warcraft Logs API Requests</title>
</head>
<body bgcolor="#545B5A">
    <div class="tabbed">

        <!-- Home -->

        <input name="tabbed" id="home" type="radio" checked />
        <section>
            <h1>
                <label for="home">
                    <img src="{{ url_for('static', filename='Images/home-icon.png') }}" height="15" width="20" /> Home
                </label>
            </h1>
            <div>
                <table align="left" style="width:20%;">
                    <tr>
                        <td>
                            <img src="{{ url_for('static', filename='Images/warcraft-logo.png') }}" height="64" width="64" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.warcraftlogs.com" style="color:#d3d4d6; text-align:center;">Warcraft Logs Website</a>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <img src="{{ url_for('static', filename='Images/logsofwar-logo.png') }}" height="256" width="500" />
                        </td>
                    </tr>
                </table>
            </div>
        </section>

        <!-- Report Results -->

        <input name="tabbed" id="reportRequest" type="radio" />
        <section>
            <h1>
                <label for="reportRequest">
                    <img src="{{ url_for('static', filename='Images/report-icon.png') }}" height="15" width="20" /> Report Results
                </label>
            </h1>
            <div>
                Request ID: <input id="reportID" name="ReportIDField" />
            </div>
        </section>

        <!-- Fight Results -->

        <input name="tabbed" id="fightResults" type="radio" />
        <section>
            <h1>
                <label for="fightResults">
                    <img src="{{ url_for('static', filename='Images/fight-icon.png') }}" height="15" width="20" /> Fight Results
                </label>
            </h1>
            <div>
                <select class="dropdown">
                    <option>Legion</option>
                    <option>Warlords of Draenor</option>
                    <option>Mists of Pandara</option>
                </select>
                Request ID: <input id="reportID" name="ReportIDField" value="(optional)" />
            </div>
        </section>

        <!-- Character Rankings -->

        <input name="tabbed" id="characterRankings" type="radio" />
        <section>
            <h1>
                <label for="characterRankings">
                    <img src="{{ url_for('static', filename='Images/person-icon.png') }}" height="15" width="20" /> Character Rankings
                </label>
            </h1>
            <div class="input">
                Character Name: <input id="charName" name="CharacterNameField" />
                Server Name: <input id="charName" name="CharacterNameField" />
                Region: <select class="dropdown" style="font-size: 14px; margin-right:2em;">
                    <option>US</option>
                    <option>EU</option>
                    <option>KR</option>
                    <option>TW</option>
                    <option>CN</option>
                </select>
                <!--<button type="button" onclick="{{ url_for('get_char') }}" name="getCharacterRankings">GO</button>-->
            </div>
        </section>
    </div>
</body>
</html>
